<section class="vh-100">
<div class="row">
  <div class="col-12 alert alert-info">
    <h1>Accedi o registrati</h1>
  </div>
</div>
<div class="row justify-content-evenly">
  <div class="col-6 d-flex flex-column align-items-center">
    <h2>Accedi</h2>
    <button routerLink="login" class="btn btn-primary">Accedi con il tuo account</button>
  </div>
  <div class="col d-flex flex-column align-items-center">
    <h2>Registrati</h2>
    <button routerLink="register" class="btn btn-primary">Crea un nuovo account</button>
  </div>
</div>
</section>
