<h1>Registrati</h1>
<div class="container">
  <form autocomplete="on">
    <input
      type="text"
      name="nome"
      [(ngModel)]="newUser.nome"
      placeholder="Il tuo nome"
      class="form-control"
    />

    <input
      type="email"
      name="email"
      [(ngModel)]="newUser.email"
      placeholder="email"
      class="form-control mt-3"
    />

    <input
      type="password"
      name="password"
      [(ngModel)]="newUser.password"
      placeholder="password"
      class="form-control mt-3"
    />

    <button (click)="reg()" class="btn btn-primary mt-3">
      Registrati
    </button>
  </form>
</div>
