<section>
  <div class="row row-cols-1">
    <div class="card" *ngIf="movie">
      <img src="{{ movie.image }}" class="card-img-top" alt="..." />
      <div class="card-body d-flex flex-column justify-content-evenly">
        <h5 class="card-title">{{ movie.title }}</h5>
        <p class="card-text">{{ movie.duration }}</p>
        <a class="btn btn-primary mb-2">{{ movie.rating }}/5</a>
        <a routerLink="moviedetail/{{ movie.id }}" class="btn btn-primary"
          >Info</a
        >
      </div>
    </div>
  </div>
</section>
