<nav class="navbar navbar-expand-sm bg-personal">
  <div class="container-fluid">
    <a class="navbar-brand text-light" routerLink="/">Cinema Paradiso</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-light" *ngIf="isLoggedIn" routerLink="dashboard"
            >Dashboard</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-light"
            *ngIf="isLoggedIn"
            routerLink="dashboard/personalpage"
            >Profilo</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-light"
            *ngIf="isLoggedIn"
            routerLink="dashboard/favorites"
            >Film</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" *ngIf="isLoggedIn" routerLink="dashboard/addmovie"
            >Aggiungi Film</a
          >
        </li>
      </ul>
    </div>
    <button (click)="logout()" class="btn btn-outline-danger" *ngIf="isLoggedIn">Logout</button>
    <button
      *ngIf="!isLoggedIn"
      routerLink="auth/login"
      class="btn btn-outline-light me-2"
    >
      Accedi
    </button>
    <button
      *ngIf="!isLoggedIn"
      routerLink="auth/register"
      class="btn btn-outline-light"
    >
      Registrati
    </button>
  </div>
</nav>
